*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.section1{
  background-image: url('./background-images/wave\ 1.png'),url('./background-images/svg\ 1.png');
  background-repeat: no-repeat;
  background-position: 0% 110%, 90% 33.6%;
  background-size: 100%, 33.5%;
}
.section2{
  background-image: url('./background-images/wave2.png');
  background-repeat: no-repeat;
  background-position: 0% 110%;
  background-size: 100%;
}
.section3{
  background-image: url('./background-images/svg4.png'), url('./background-images/svg3.png'), url('./background-images/wave2.png');
  background-repeat: no-repeat;
  background-position: left 50%, right 40%, 0% 110%;
  background-size: auto, auto, 100%;
}
.section4{
  background-image: url('./background-images/wave2.png');
  background-repeat: no-repeat;
  background-position: 0% 110%;
  background-size: 100%;
}
.section5{
  background-image: url('./background-images/wave2.png');
  background-repeat: no-repeat;
  background-position: 0% 110%;
  background-size: 100%;
}
.section6{
  background-image: url('./background-images/wave2.png');
  background-repeat: no-repeat;
  background-position: 0% 110%;
  background-size: 100%;
}
.cover1{
  height: 90vh;
}
.stages{
  position: fixed;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.xs1{
  font-size: 10px;
}
.nav{
  height: 10vh;
}
.w{
  width: 0.1px;
}
.h-fit{
  height: fit-content;
}
.w-fit{
  width: fit-content;
}
.text-blue{
  color: #004A83;
}
.text-blue-shade3{
  color: #0882DF;
}
.border-blue{
  border-color: #004A83;
}
.bg-blue-dark{
  background-color: #004A83;
}
.bg-blue-main{
  background-color: #025EA4;
}
input::-webkit-input-placeholder{
  color: #199CFF;
}
.fade-in{
  animation: FadeIn 0.2s linear;
}
.fade-in-slow{
  animation: FadeIn 0.5s linear;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width:786px) {
  .section1{
    background-position: 0% 100%, 90% 25%;
  }
  .section2{
    background-position: 0% 100%;
  }
  .section3{
    background-position: left 50%, right 40%, 0% 100%;
  }
  .section4{
    background-position: 0% 100%;
  }
  .section5{
    background-position: 0% 100%;
  }
  .section6{
    background-position: 0% 100%;
  }
  .stages{
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-mini{
    font-size: 6px;
  }
  .text-blue-shade3{
    font-size: 12px;
  }
}
